/* W3 schools */
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

/* W3 schools */
@keyframes shake {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.rotate-forever {
animation: rotation 3s infinite linear;
}

.rotate-once {
    animation: rotation 3s;
    animation-iteration-count: 1;
    }

img.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, do 6 more times (3 secs) */
    animation-iteration-count: 4;
  }


html, body, form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* this is for side tab for buddies */
div.container-for-buddies-chat {
    height: 100%;
    width: 175px;
    left: 0;
    position: fixed;
    top: 7.4%;	
    

    /* align items inside vertically centered */
    align-content: center;
    justify-content: center;
    display: flex;
    background-color:rgb(2, 7, 4, .7);
    overflow: auto;
    border-radius: 2%;
    border: 5px, rgb(55, 0, 62);
  }

div.container-edit-profile {
    font-size: large;
    width: 450px;
    height: 550px;
    border: 2px solid rgba(14, 79, 79, 0.6);
    overflow: auto;
    border-radius: 2.5%;
    background-color: rgb(221, 251, 251, .3);
    padding: 5px 16px;
}

div.container-edit-account {
    font-size: large;
    width: 400px;
    height: 500px;
    border: 2px solid rgba(14, 79, 79, 0.6);
    overflow: auto;
    border-radius: 2.5%;
    background-color: rgb(221, 251, 251, .3);
    padding: 5px 16px;
}

div.container-search-profiles {
    font-size: medium;
    width: 100%;
    height: 20%;
    border: .5px solid rgba(14, 79, 79, 0.6);
    background-color: rgba(242, 233, 248, 0.156);
    /* padding: 2px 5px; */
}

div.container-profiles {
    width: 600px;
    height: 500px;
    border: .5px solid rgba(14, 79, 79, 0.6);
    overflow: auto;
    background-color: rgba(242, 233, 248, 0);
    padding: 2px 5px;
}

div.container-form {
    font-size: large;
    width: 380px;
    height: flex;
    border: 2px solid rgba(14, 79, 79, 0.6);
    overflow: auto;
    border-radius: 2.5%;
    background-color: rgb(221, 251, 251, .3);
    padding: 5px 16px;
}

div.container-brolfr {
    font-size: large;
    width: 400px;
    border: 2px solid rgba(14, 79, 79, 0.6);
    border-radius: 2.5%;
    background-color: rgb(221, 251, 251, .3);
    padding: 5px 16px;
}

div.container-search {
    font-size: large;
    width: 100%;
    border: 1px solid rgba(14, 79, 79, 0.402);
    border-radius: 2.5%;
    background-color: rgba(255, 251, 251, 0.19);
    padding: 5px 5px;
}

div.homepage {
    font-size: large;
    width: 350px;
    height: flex;
    overflow: auto;
    border-radius: 2.5%;
    background-color: rgba(0, 248, 248, 0.141);
    padding: 5px 16px;
    text-align: center;
}

div.middle-ben {
        position: absolute; 
        top: 5%;
        left: 40%;
    
    }
div.container-ben {
    font-size: large;
    width: 380px;
    height: flex;
    border: 2px solid rgba(14, 79, 79, 0.6);
    overflow: auto;
    border-radius: 2.5%;
    background-color: rgb(221, 251, 251, .3);
    padding: 5px 16px;
    text-align: center;
    
    }

div.container-photo {
    font-size: large;
    width: 100%;
    height: flex;
    border: 2px solid rgba(14, 79, 79, 0.6);
    overflow: auto;
    border-radius: 2.5%;
    background-color: rgb(221, 251, 251, .3);
    padding: 5px 16px;
    text-align: center;
    
    }

div.container-location {
    font-size: large;
    width: 100%;
    height: flex;
    border: 2px solid rgba(17, 15, 137, 0.6);
    overflow: auto;
    border-radius: 2.5%;
    background-color: rgb(221, 251, 251, .3);
    padding: 5px 16px;
    text-align: center;
    
    }

div.middle-chat {
    position: fixed; 
    top: 22%;
    left: 10%;
}

a:hover {
    color: rgb(46, 0, 95);
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: rgb(0, 35, 30);
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1.middle-headline {
    position: fixed; 
    top: 10%;
    left: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color:rgb(1, 11, 6);
    font-weight: 400;
}

div.middle-headline-top {
    position: fixed; 
    top: 12%;
    left: 28%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color:rgb(1, 11, 6);
    font-weight: 400;
}

div.middle-headline-button {
    position: fixed; 
    top: 15%;
    left: 28%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color:rgb(1, 11, 6);
    font-weight: 400;
}

div.middle-headline-chat {
    position: fixed; 
    top: 15%;
    left: 28%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color:rgb(1, 11, 6);
    font-weight: 400;
}


div.middle-chat-final {
    position: fixed; 
    top: 22%;
    left: 30%;
}

ul.buddy-button-list {
    float: left;
    clear: left;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0;
}
/* buddies listed in sidebar */
button.buddy-button {
    border: 2px solid rgb(0, 20, 11);
    background: rgb(238,232,255);
    background: radial-gradient(circle, rgba(238,232,255,0.7973564425770308) 0%, rgba(211,255,237,1) 100%);
    color:rgb(6, 8, 7);
    font: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    width: 200px;
    border-radius: 0.25rem;
    overflow: hidden;
    perspective: 1px;
}

span.buddy {
    color: rgb(9, 11, 15)
}

span.buddy:hover {
    color: rgb(215, 229, 255)
}

button.buddy-button:hover {
    background: rgb(4,9,2);
    background: radial-gradient(circle, rgba(4,9,2,0.7973564425770308) 44%, rgba(65,0,69,1) 100%);
    color: rgb(219, 237, 255);
    border: 2px solid rgb(191, 205, 198);
}


button.app {
    border: 1px solid rgb(4, 53, 30);
    background: rgb(243,233,250);
    background: linear-gradient(0deg, rgba(243,233,250,1) 0%, rgba(205,219,219,1) 100%);
    color:rgb(6, 8, 7);
    font: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    width: 200px;
    border-radius: 0.25rem;
    overflow: hidden;
    perspective: 1px;
}
button.app-big {
    border: 1px solid rgb(4, 53, 30);
    background: rgb(243,233,250);
    background: linear-gradient(0deg, rgba(243,233,250,1) 0%, rgba(205,219,219,1) 100%);
    color:rgb(6, 8, 7);
    font: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    width: 400px;
    border-radius: 0.25rem;
    overflow: hidden;
    perspective: 1px;
}

input.app {
    border: 1px solid rgb(4, 53, 30);
    background: rgb(243,233,250);
    background: linear-gradient(0deg, rgba(243,233,250,1) 0%, rgba(205,219,219,1) 100%);
    color:rgb(6, 8, 7);
    color:rgb(6, 8, 7);
    font: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    width: 200px;
    border-radius: 0.25rem;
}
input.app:hover {
    background: rgb(50,2,43);
    background: linear-gradient(0deg, rgba(50,2,43,1) 0%, rgba(6,64,64,1) 100%);
    color: rgb(219, 237, 255);
    border: 1px solid rgb(191, 205, 198);
  }
  
button.app:hover {
    background: rgb(50,2,43);
    background: linear-gradient(0deg, rgba(50,2,43,1) 0%, rgba(6,64,64,1) 100%);
    color: rgb(219, 237, 255);
    border: 1px solid rgb(191, 205, 198);
}

button.app-big:hover {
    background: rgb(50,2,43);
    background: linear-gradient(0deg, rgba(50,2,43,1) 0%, rgba(6,64,64,1) 100%);
    color: rgb(219, 237, 255);
    border: 1px solid rgb(191, 205, 198);
}

button.app:disabled{
    background: rgb(209, 225, 203);
    background: radial-gradient(circle, rgba(236, 255, 228, 0.797) 44%, rgb(189, 175, 190) 100%);
    color: rgb(87, 89, 90);
    border: 2px solid rgb(191, 205, 198);
    }

button {
    overflow: hidden;
}

button.buddy-button:hover {
    background-color: #0814c5bd;
    color: rgb(1, 4, 7);
    border: 2px solid rgb(191, 205, 198);
  }

button:hover {
    background-color: #5660e37d;
    color: rgb(160, 208, 255);
    border: 2px solid rgb(191, 205, 198);
  }

button.a:hover {
    background-color: #5660e37d;
    color: rgb(160, 208, 255);
    border: 2px solid rgb(191, 205, 198);
  }

button.carousel-control-prev:hover {
    background: rgb(4,9,2);
    background: radial-gradient(circle, rgba(4,9,2,0.7973564425770308) 44%, rgba(65,0,69,1) 100%);
    color: rgb(219, 237, 255);
    border: 2px solid rgb(191, 205, 198);
  }
button.carousel-control-next:hover {
    background: rgb(4,9,2);
    background: radial-gradient(circle, rgba(4,9,2,0.7973564425770308) 44%, rgba(65,0,69,1) 100%);
    color: rgb(219, 237, 255);
    border: 2px solid rgb(191, 205, 198);
  }

  a:link { text-decoration: none; }


  a:visited { text-decoration: none; }
  
  
  a:hover { text-decoration: none;
            color: rgb(160, 208, 255); }
  
  
  a:active { text-decoration: none; }
/* user buttons in container */
div.container-for-buddies-chat button {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #c5dbd5;
    display: block;
  }
  
div.nav button:hover {
    color: #f1f1f1;
  }

  /* chatbox */
div.buddy-message {
    font-size: large;
    height: 480px;
    width: 400px;
    border: 2px solid rgba(14, 79, 79, 0.6);
    overflow: auto;
    border-radius: 2.5%;
    background-color: rgb(221, 251, 251, .6);
    display: flex;
    flex-direction: column-reverse;
}

div.bubble {
    border: 2px solid rgb(74, 106, 91);
    overflow: auto;
    width: 100%;
    border-radius: 10%;
    background-color: rgb(226, 226, 226);
    margin-right: 10px;
    margin-top: 2px;
}

div.send-button-fixed {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}
button.send-button {
    border: 2px solid rgb(74, 106, 91);
    width: 150px;
    border-radius: 10%;
    margin-top: 0;
    position: fixed;
    left: 30%;

}
input.send-message {
    border: 2px solid rgb(74, 106, 91);
    width: 130px;
    border-radius: 10%;
    position: fixed;
    left: 30%;

}

div.left-message {
    float: left;
    width: 90%;
    margin-right: 20px;
}

div.right-message {
    float: right;
    width: 90%;
    margin-left: 25px;
    margin-right: 0px;
}

img.tiny {
    height: 50px;
    width: flex;
    border: 5px solid rgb(81, 116, 100);
    border-radius: 50%;
    float: left;
}


img.ben {
    height: 200px;
    width: flex;
}

img.ben-home {
    height: 50%;
    width: 50%;
}

img.ben-mad {
    height: 220px;
    width: flex;
}

b.rolfr {
    font-size: large;
    color: #c5dbd5;
}

img.extra-tiny {
    height: 25px;
    width: flex;
    border: 2px solid rgb(81, 116, 100);
    border-radius: 50%;
}

img.extra-tiny-right {
    height: 25px;
    width: flex;
    border: 2px solid rgb(81, 116, 100);
    border-radius: 50%;
    float: right;
}

img.profile {
    height: 300px;
    width: flex;
    border: 5px solid rgb(81, 116, 100);
    border-radius: 20px;
}

small.timestamp {
    font-size: x-small;
    font-style: italic;
    color: rgb(120, 120, 120);
    left: 0%;
}

small.small-type {
    font-size: x-small;
    font-style: italic;
    color: rgb(24, 24, 24)
}

label.medium-size {
    font-size: 14px;
    color: rgb(24, 24, 24)
}

small.timestamp-right {
    font-size: x-small;
    font-style: italic;
    color: rgb(120, 120, 120);
    float: right;
    padding-right: 1%;
}

.color-nav {
    background: rgb(17,36,0);
    background: linear-gradient(90deg, rgba(17,36,0,1) 0%, rgba(9,121,74,1) 57%, rgba(6,158,153,1) 100%); 
    border-bottom: 3.5px solid rgb(8, 18, 13);
    overflow: auto;
    height: 52px;
}

/* Style the links inside the navigation bar */
.color-nav a {
  float: left;
  color: rgb(214, 255, 243);
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links on hover */
.color-nav a:hover {
  background-color: #b5eecf;
  color: black;
}

/* Add a color to the active/current link */
.color-nav a.active {
  background-color: #d2e4dd;
  color: rgb(10, 9, 9);
}

/* Right-aligned section inside the top navigation */
.color-nav-right {
  float: right;
}

a.brolf-button {
    top: 0;
    padding: 5px 14px;
}

div.brolfr-card {
    width: 400px;
    height: flex;
    background: rgb(244,255,186);
    background: radial-gradient(circle, rgba(244,255,186,0.6965161064425771) 0%, rgba(212,242,233,0.2903536414565826) 97%);
    border: 2px solid rgba(14, 79, 79, 0.6);
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    left: 30%;
    align-content: center;
    justify-content: center;
    text-align: center;

}
.container {
    padding: 2px 16px;
  }

img.squirrel {
    position:absolute;
    /* display: flex;
    justify-content: flex-end; */
    bottom: 0;
}
/* div.squirrel {
    position:absolute;
    right: 300px;
    bottom: 0;
    z-index:-999;
} */

div.squirrel {
    position:fixed;
    right: 300px;
    bottom: 0vh;
    z-index:-999;

}

.flex {
    display: flex;
    width: 300px;
 }

/* div.brolf-carousel {
    position:absolute;
    bottom: 10;
} */

small.request-number {
    background-color: #b5eecf;
    width: 10px;
    border: 2px solid rgba(81, 116, 100, 0.25);
    color:rgb(0, 35, 30);
    border-radius: 50%;
}

