
{% extends 'base.html' %}
{% block title %} {{name}} {% endblock %}

{% block body %}


    <div class="col-12 col-md-8 col-lg-6" style="position: fixed;
    top: 43%;
    left: 52%;
    transform: translate(-43%, -52%);">
    
    <img class="ben-home" src="static/images/bb.png"> <br>
    <div class="homepage"> Welcome {{name}},
        so happy you made it!
        Cheers brah 🤙
    </div><br>
    </div>
    
    <br><br>
    <div class="col-md-8 col-lg-6" style="position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);">
    <button class="app" onclick="window.location.href='/profile';">View or Edit Profile</button>
    <button class="app" onclick="window.location.href='/edit-account';">Update Account Info</button>
</div>
{% endblock %}