{% extends 'base.html' %}
{% block title %} welcome frolf buds {% endblock %}

{% block body %}

<div class="col-md-8 col-lg-6" style="position: fixed;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);">
<div class="container-ben" >
        <div id="ben">
            <img  id="ben-img" class="ben" src="/static/images/bb.png"><br>
            <span class="text">Login Here Bro:</span><br><br>
        </div>
            <br>
            <form id="login-form" class="login-form">
                <span> &nbsp;&nbsp;&nbsp;&nbsp; Email: &nbsp;</span><input type="text" id="email" placeholder="********@email.com"><br>
                <span> Password: </span><input type="password" id="password" placeholder="**********"> <br>
                <a style="font-size: small;" href="/login-help" >Forgot username/password?</a>
                <br><br>
                <input class="app" type="submit" value="Let's goooo">
            </form>
       
    </div>
        <br>
            <a href="/new-account" >Click here to create an account!</a>
    </div>



        <script src="/static/js/login.js"></script>
{% endblock %}